<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxAGRY2YraIQgnLp89t9Duzk2Sw26C6Es</string>
	<key>GCM_SENDER_ID</key>
	<string>253186659513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bucketcpp.bucket</string>
	<key>PROJECT_ID</key>
	<string>picbucket-2dda4</string>
	<key>STORAGE_BUCKET</key>
	<string>picbucket-2dda4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253186659513:ios:2e898d7b048260139d7768</string>
</dict>
</plist>